[project]
	description = Very lightweight java actor framework
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Wouter Blancquaert (wblancqu)
[access "refs/for/refs/*"]
	read = group user/Wouter Blancquaert (wblancqu)
	push = group user/Wouter Blancquaert (wblancqu)
	label-Code-Review = -2..+2 group user/Wouter Blancquaert (wblancqu)
	label-Verified = -1..+1 group user/Wouter Blancquaert (wblancqu)
	rebase = group user/Wouter Blancquaert (wblancqu)
	removeReviewer = group user/Wouter Blancquaert (wblancqu)
	submit = group user/Wouter Blancquaert (wblancqu)
[access "refs/heads/*"]
	read = group user/Wouter Blancquaert (wblancqu)
	create = group user/Wouter Blancquaert (wblancqu)
	push = +force group user/Wouter Blancquaert (wblancqu)
	pushMerge = group user/Wouter Blancquaert (wblancqu)
[access "refs/tags/*"]
	push = group user/Wouter Blancquaert (wblancqu)
	push = +force group user/Wouter Blancquaert (wblancqu)
